* {
    box-sizing: border-box;
  }
  
  .outer-icon-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dark-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
  }
  
  .inner-icon-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
  }
  
  .custom-icon {
    font-size: 20em;
    color: #ffadff;
  }
  
  .color-input {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    padding: 5px 10px;
  }